<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <h1>save user</h1>
  <hr>
  <form action="#" th:action="@{'/users/edit/'+ ${user.id}}" th:object="${user}"
        method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{name}"
           placeholder="Name" class="form-control mb-4 col-4">
    <input type="text" th:field="*{lastName}"
           placeholder="lastName Name" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save user</button>
  </form>

  <hr>

  <a th:href = "@{/users}"> Back to list user</a>
</div>
</body>
</html>